@import "tailwindcss";

/* Custom theme*/
@theme {
  /* --- Colors --- */
  --color-neutral-900: #000000;
  --color-neutral-500: #7e7e7e;
  --color-neutral-0: #ffffff;

  --color-primary: #6666ff;
  --color-secondary: #d8d8ff;
  --color-accent: #9595ff;
  --color-highlight: #0000bc;

  --color-error: #ff66f0;
  --color-light-error: #ffedfd;

  /* --- Fonts --- */
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-dm-serif: "DM Serif Display", serif;
  --font-archivo-black: "Archivo Black", sans-serif;
}
